/* tailwind.config.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3e78ff;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000063;
}

body {
  @apply dark:bg-blue-950 bg-blue-50 text-blue-900 dark:text-white transition-all duration-150 tracking-wide
}